@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.astro {
    background: #2669CC;
    background: linear-gradient(to right, #2669CC 0%, #9800B0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.astrobg {
    background: rgb(38,105,204);
    background: linear-gradient(90deg, rgba(38,105,204,1) 0%, rgba(152,0,176,1) 100%);
}


