---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import '../styles/main.css';

---

<Layout title="About" name="AstroAnime">
    <Nav></Nav>
	<main class="font-test">
		<h1 class="text-6xl font-bold w-full text-center font-test">Welcome</h1>
        <div id="content"></div>
	</main>
</Layout>

<script src="../scripts/script.js"></script>
