---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import '../styles/main.css';

const pageTitle = "About Me";

const anav = {
    name: "Anav",
    age: 18,
    skills: [
        'HTML',
        'CSS',
        'JavaScript'
    ]
}

const happy = true;
const finished = false;
const goal = 3;

const skillColor = 'red'

---

<Layout title="About" name="AstroAnime">
    <Nav></Nav>
	<main class="font-test">

	</main>
</Layout>

<script src="../scripts/script.js"></script>

<style define:vars={{skillColor}}>
    .skill {
        color: var(--skillColor);
    }
</style>