---
export interface Props {
	title: string;
    name: string;
}

const { title , name } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/fav.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | {name}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
